/*Global*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: helvetica, sans-serif;
}

/*Layout*/

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.newGridButton {
  width: 10vw;
  height: 10vh;
  margin: 2.5vh 0vw 2.5vh 0vw;
  background-color: grey;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
}

.newGridButton:hover {
  background-color: lightgrey;
}

.etch-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 80vh;
  margin: 0vh 0vw 5vh 0vw;
  /* border: 2px solid red; for debugging */
}

.etch-box {
  height: 100%;
  width: 100%;
  background-color: gray;
  /* border: 1px solid red; for debugging */
}

.etch-box-active {
  background-color: white;
}
