/*Global*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: helvetica, sans-serif;
}

/*Layout*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw 10vh 10vw;
  border: 2px solid red; /*for debugging*/
}
